
.keyBoardComponent{
   /* float: left;
    width: 100%;    */
  position: fixed;  
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 100;
  background-color: lightgray;
}
.keyboard-padding{
    float: left;
    width: 100%;
}

.keyboard-body-padding {
   height: 162px;;
}

.keyboard-bottom-panel {
    height: 33px;
 }
 

.keyBoardComponent .line{
    float: left;
    width: 100%;
}

.keyBoardComponent .keyboard-key{
   float: left;
   /*border: 0.1px solid white;*/
   width: 10%;   
   /*height: 27.8px;*/
   height: 33px;
   box-sizing: border-box;
   padding-top: 2px;
   font-size: 20px;
}

.keyBoardComponent .keyboard-key.enabled {
  background-color: lightgrey;
}

.keyBoardComponent .keyboard-key.disabled {
    background-color: gray;
    border: 0.5px solid white;
    border-radius: 3px;
  }

.keyBoardComponent .keyboard-key.space {
    width: 30%;
    border: 0.5px solid white;
    border-radius: 3px;
}

.keyBoardComponent .keyboard-key.special-character{
    width: 15%;
}

.keyBoardComponent .keyboard-key.enter {
    width: 25%;
}

.keyBoardComponent .keyboard-key.backspace {
    width: 30%;
}

.keyBoardComponent .second-line{
    padding-left: 10%;    
}

.keyBoardComponent .third-line{
    padding-left: 20%;
}

.keyBoardComponent.special-character-active .third-line, .keyBoardComponent.special-character-active .second-line {
    padding-left: 0% !important;
}

.keyBoardComponent.special-character-active .keyboard-key.backspace {
    width: 20%;
}


.keyBoardComponent .top-bar{
  height: 30px;
  width: 100%;
  background-color: lightgray;
  border-bottom: 1px solid white;
  float: left;  
}
.keyBoardComponent .top-bar > a{
  float: right;
}

.keyBoardComponent .top-bar .aditional-content{
    height: 30px;
    width: 90%;
    float: left;
    overflow: auto;
  }

.gallowsComponent .gallows-letter{
  float: left;
  margin-left: 10px;
  font-size: 20px !important;
}

.gallowsComponent .definition{
   float: left;
   width: 100%;
   padding-top: 5px;
}

.tab-body-group{
   height: calc(100% - 121px) !important;    

}

.helpComponent {
    height: 100%;
}

.helpComponent .fixed-bottom .btn{
    width: 48%;   
    margin-top : 2px;    
}

.helpComponent .fixed-bottom .btn:first-of-type{
    margin-left: 1%;
}

.helpComponent .content{    
    padding-left: 10px;    
    padding-right: 10px; 
    font-size: 14px;   
}


#memoryGame .memory-game {
   height: 55px !important;   
   width: 55px !important; 
   float: left;   
   border: 1px solid black;
   margin: 2px;
   
}

#memoryGame .img-card {
    height: 50px !important;   
    width: 50px !important;
    float: left;
}

.crossWord {
    width: 100%;
}

.crossWord .cross-main-box, .crossWord .cross-definitions{
  float: left;  
}

.crossWord .selected{
    background-color: lightyellow !important;
}

.crossWord li.selected{
    color: black !important;
}

.crossWord .wrong{
    color: red !important;
}

.crossWord .correct{
    color: green !important;
}

.crossWord input.focused {
  background-color: darkgoldenrod;
}

.crossWord .cross-col{    
  float: left;
  border: 1px solid grey;
  background-color: white;
  text-align: center;
}

.crossWord .cross-col input{
    text-align: center;
}

.crossWord .sequence{
  position: absolute;
  font-size: 9px;
}

.crossWord .sequence h {
  position: relative;
  float: left;
  width: 50%;

}

.crossWord .sequence v {
    position: relative;
    float: right;
    width: 50%;
}