<span data-component-name="header" data-component-id="header" 
      data-component-container="#header" data-component="yes">
</span>
    

<span data-component-name="resumed_lesson" 
      data-component-id="homeResumed" 
      data-component-container=".homeResumed" data-component="yes">
</span>



<ul class="collapsible popout" data-collapsible="accordion">
    <li>
        <div class="collapsible-header active black-text">
            <i class="material-icons">arrow_drop_down</i>Your actual lesson
        </div>
        <div class="collapsible-body homeResumed">
            <!--  categories will come here-->
        </div>
    </li>
    <li>
        <div class="collapsible-header black-text">
            <i class="material-icons">arrow_drop_down</i>Games</div>
        <div class="collapsible-body">
            <span>Not available.</span>
        </div>
    </li>
</ul>