<div class="search-dictionay" id="[{(searchDictionary) id}]">    
    <div class="row">
        <div class="center-align"><h4 >Dictionary</h4></div>
        <div class="input-field">
            <textarea type="text" class="materialize-textarea" name="search-dictionary-words"></textarea>    
            <label for="search-dictionary-words">Type the words for search</label>

            <button class="waves-effect waves-light btn dict-search-btn">Search</button>
            <div data-component="yes" 
                 data-component-name="dictionary" 
                 data-component-id="[{(searchDictionary) id}]-dictionary"
                 data-auto-create="no">
            </div>
        </div>
    </div>

</div>