<span data-component="yes" data-component-name="header" data-component-id="header-signup" data-component-container="#header">

</span>

<div class="row">
    <form class="col s12" id="form-signup">
        <div class="row">
            <div class="input-field col s12">
                <input name="email" type="email" class="validate" required>
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="username" type="text" class="validate" required>
                <label for="username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="password" type="password" class="validate" required>
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input name="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
                <input name="last_name" type="text" class="validate">
                <label for="last_name">Last Name</label>
            </div>
        </div>
        
    </form>
    <button class="btn blue waves-effect waves-light" type="button" name="action" onclick="signupComponent.registerUser()">Send
        <i class="material-icons right">send</i>
    </button>       
</div>