<span data-component="yes" data-component-name="header" data-component-container="#header" data-component-id="cross-word"
    data-component-extra-data='{"title":"Crosswords"}'></span>

<div id="[{(crossWords) id }]" class="crossWord">
    <ul class="collection">
        <li class="collection-item">
            <a href="javascript:void(0)" class="refresh">New game</a> |
            <a href="javascript:void(0)" class="check">Check game</a>
        </li>
    </ul>

    <div class="cross-main-box">
    </div>
    <div class="row">
    <ul class="cross-definitions collection">

    </ul>
    </div>
</div>