

<div data-component="yes" data-component-name="training_player" data-component-id="dictation-player" data-auto-create="no">
</div>



<div class="row">
        <div class="input-field col s12">
          <input  id="word-anwser" type="text" class="validate">
          <label for="word-anwser">type the word here</label>
        </div>
        <span id="answer-msg"></span>           
</div>     


<button class="waves-effect waves-light btn" onclick="lesson_detail_dictationComponent.start()" id="btn-dictation-start">Start lesson</button>
<a class="waves-effect waves-light btn disabled" id="btn-dictation-confirm" onclick="lesson_detail_dictationComponent.checkAnswer()">Confirm</a>
