<span data-component="yes" data-component-name="header" data-component-container="#header" data-component-id="image-header"
    data-component-extra-data='{"title":"Learning with images"}'></span>
<ul class="collection">
    <li class="collection-item" data-datasetname="images" data-self="true">
        <figure>
            <img src="img/[{(images) category:replace@ @_}]/[{(images) name}]" class="responsive-img"  alt="[{(images) description}]"/>
            <figcaption> <b>[{(images) description}]</b>  </br> <b>Category:  [{(images) category}]</b> </figcaption>
        </figure>
    </li>
</ul>