<div id="[{(training_player) id }]">
    <audio controls class="hide training-player">
        <source src="" type="audio/mpeg"> Your browser does not support the audio element.
    </audio>


    <ul class="collection">
        <li class="colletion-item">
            <a href="javascript:void(0)" class="disable-after-start start " >
                <i class="mdi mdi-play mdi-24px"></i>
            </a>
            <a href="javascript:void(0)" class="enable-after-start stop-word"  >
                    <i class="mdi mdi-stop mdi-24px"></i>
            </a>            
            <a href="javascript:void(0)" class="enable-after-start pause-word"  >
                <i class="mdi mdi-pause mdi-24px"></i>
            </a>            
                
            <a href="javascript:void(0)" class="enable-after-start prior-word" >
                <i class="mdi mdi-skip-previous mdi-24px "></i>
            </a>

            <a href="javascript:void(0)" class="enable-after-start next-word"  >
                <i class="mdi mdi-skip-next mdi-24px"></i>
            </a>
            
            <a href="javascript:void(0)" class="enable-after-start repeat-word"  >
                    <i class="mdi mdi-repeat mdi-24px"></i>
            </a>

        </li>
    </ul>
    
    <div>
        <h5 class="center-align text-selected red-text"></h5>
    </div>        

</div>




