
<div id="[{(dictionary) id }]">
    <audio controls class="hide" id="word-list-audio-play">
        <source src="" type="audio/mpeg"> Your browser does not support the audio element.
    </audio>
    
    
    <span data-component="yes" data-component-name="list_images" 
          data-component-id="[{(dictionary) id }]list_images" 
          data-auto-create="no">
    </span>
    
    
    
    <div data-component="yes" data-component-name="training_player" data-component-id="[{(dictionary) id }]word-playlist" data-auto-create="no"></div>
        
    <ul class="collapsible dictionary" data-collapisable="accordion">
        <li data-datasetname="words" data-self="true" class="header-word">
            <div class="collapsible-header">
                <i class="mdi mdi-menu-down"></i>
                <span class="word-identification">[{ (words) text}]</span>
            </div>
            <div class="collapsible-body">
    
                <ul class="collection">
                    <h4 class="title">Definition</h4>                
                    <ul class="collection">
                        <li class="collection-item"><h4>[{ (words) text}]</h4></li>
                        <li class="collection-item">                        
                            <a href="javascript:void(0);"  >
                                <i class="mdi mdi-ear-hearing mdi-24px hearing" data-hearing="[{ (words) text}])"></i>
                            </a>
    
                            <a href="javascript:void(0);" >                               
                                <i class="mdi mdi-image mdi-24px word-images" data-image="[{ (words) text}]" ></i>
                            </a>
                        </li>
                    </ul>
                    <li class="collection-item" data-datasetname="[{ (words) text}]" data-self="true">
                        <p class="word-definition">
                            <b>[{ ([{ (words) text}]) sequence:default@ }]</b> - [{ ([{ (words) text}]) text}]
                        </p>
                        <b>Part of speech</b> : [{ ([{(words) text}]) partOfSpeech:default@not found }]
                    </li>
                </ul>
                </a>
                <ul class="collection">
                    <h3 class="title">Example</h3>
                    <li class="collection-item" data-datasetname="[{ (words) text}]_example" data-self="true">
                        <p class="word-example">
                            [{ ([{ (words) text}]_example) text:default@not found}]
                        </p>
                    </li>
                </ul>
    
            </div>
        </li>
    </ul>
<div>
