<span data-component="yes" data-component-name="header" data-component-id="login-header" data-component-container="#header">
</span>


<ul id="tabs-swipe-demo" class="tabs">
    <li class="tab col s3"><a class="active" href="#words">Words</a></li>
    <li class="tab col s3" data-loaded="false" id="tab-media"><a href="#media">Media</a></li>
    <li class="tab col s3"><a href="#dictation">Dictation</a></li>    
    <li class="tab col s3"><a href="#speech">Pronounce</a></li>        
</ul>
<div id="words" class="col s12">
    <span data-component="yes" 
          data-component-name="lesson_detail_words" 
          data-component-id="lesson-words-list" 
          data-component-container="#words">
    </span>
</div>

<div id="media" class="col s12">
     <div id="media-videos">
            <span data-component="yes" 
            data-component-name="videoPlaylist" 
            data-component-id="videoPlaylistLesson"
            data-auto-create="no"
            data-component-container="#media-videos">
      </span>  
    </div>
</div>
    
<div id="dictation" class="col s12">
    <span data-component="yes" 
          data-component-name="lesson_detail_dictation" 
          data-component-id="lesson-dictation" 
          data-component-container="#dictation">
    </span>    
</div> 

<div id="speech" class="col s12">
    <span data-component="yes" 
          data-component-name="speech" 
          data-component-id="lesson-speech" 
          data-component-container="#speech">
   </span>    
</div> 
    

<!--

<div class="page-control">
    <div class="tab-group">
        <div class="tab active" data-body="words">Words</div>
        <div class="tab" data-body="articles">Articles</div>
    </div>
    <div class="tab-body-group">
        <div id="words" name="words" class="tab-body active">

            <span data-component="yes" 
                  data-component-name="lesson_detail_words" 
                  data-component-id="lesson-words-list" 
                  data-component-container="#words">
            </span>

        </div>
        <div id="articles" name="articles" class="tab-body">
            <span data-component="yes" 
                  data-component-name="lesson_detail_articles" 
                  data-component-id="lesson-articles-list" 
                  data-component-container="#articles">
            </span>
        </div>
    </div>
</div> 
-->