<span data-component="yes" data-component-name="header" data-component-container="#header" data-component-extra-data='{"title":"Gallows"}'>
</span>

<div id="[{(gallows) id }]" class="gallowsComponent">
    <ul class="collection">
        <li class="collection-item">
            <a href="javascript:void(0)" class="next-word">Next word <i class="mdi mdi-arrow-right-bold"></i> </a>
        </li>
    </ul>
    <div class="doll">
        <img src="img/gallow-0.png" class="responsive-img gallow-img" />
    </div>
    <div class="word row">
        <div class="col s12 letters">
        </div>
    </div>
    <div class="gallowKeyBoard">
        <div data-component="yes" 
             data-component-name="keyboard" 
             data-component-id="[{(gallows) id }]Keyboard" data-auto-create="no">
        </div>
    </div>
    <div class="definition col s12">        
        <a href="javascript:void(0)" class="bn-definition"> <i class="mdi mdi-dictionary"></i> See definition</a>
        <ul class="data-set-definition-container collection">
            <li data-datasetname="definition" data-self="true" class="collection-item">
                <p class="word-definition">
                    <b>[{ (definition) sequence:default@ }]</b> - [{ (definition) text}]
                </p>
                <b>Part of speech</b> : [{ (definition) partOfSpeech:default@not found }]
            </li>
        </ul>       
    </div>
</div>